<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaperPass 权威论文抄袭检测系统</title>
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/iframe.css">
    <link rel="stylesheet" href="css/style.css">
    <!--This__is__the__place__to__load__the__zhuge__tracker__code.__The__offline__version__is__hidden,__but__the__online__version__will__have__it.-->
</head>
<body>
<div class="reduce-repeat aigc">
    <div class="reduce-repeat-container">
        <section class="reduce-aigc-qa">
            <h4>什么是降AIGC？</h4>
            <div class="content">基于语言模型与强化学习，结合原始语义进行反馈学习，在保持语义一致的约束下，自动改写AIGC疑似度高的片段。</div>
            <a target="_blank" class="btn btn-experience">点此升级智能降AIGC</a>
        </section>
        <section class="reduce-aigc-tip">
            <h4>温馨提示：</h4>
            <div>当需要降AIGC的片段数过少（10个片段之内），有可能出现降不下来的情况！如果有疑问，请工作日（9:00-17:00）联系客服。</div>
        </section>
        <section class="reduce-similarity-wrapper"></section>
        <section class="reduce-tab-content"></section>
    </div>
</div>

<script type="text/html" id="basic-info">
    <div class="before {{ isReduceAIReport ? '' : 'selected' }}">
        <b>降AIGC前的总体疑似度 ({{ version }})：</b>
        <div class="g-font-color percentage green">{{ totalSuspectedTextRatio }}%</div>
        <span class="text">（高+中+轻）</span>
        <div class="g-font-color percentage green">{{ score }}%</div>
        <span class="text">（加权）</span>
        <a href="" data-type="降AIGC前报告" class="reduce-report" style="margin-left: 20px;"><span class="icon iconfont icon-tiaozhuan"></span><span>降AIGC前的检测报告</span></a>
        {{ if hasReduceAIMarkWord }}
        <a href="/report/download/rewrite-aigc-mark/{{pid}}" target="_blank" data-type="降AIGC批注word" class="reduce-word"><span class="icon iconfont icon-download2"></span>下载原Word降AIGC批注版</a>
        {{ /if }}
    </div>

    <div class="reduce">
        <div class="{{ isReduceAIReport ? 'selected' : '' }}">
            <b>降AIGC后的总体疑似度 ({{ version }})：</b>
            {{ if hasReduceAI }}
            <span class="g-font-color percentage green">{{ reduceTotalSuspectedTextRatio }}%</span>
            <span class="text">（高+中+轻）</span>
            <div class="g-font-color percentage green">{{ reduceAiScore }}%</div>
            <span class="text">（加权）</span>
            {{ else }}
            <button class="btn btn-get-similarity">查看降AIGC后的总体疑似度</button>
            {{ /if }}
            <a href="" data-type="降AIGC后报告" class="reduce-report" style="margin-left: 20px;"><span class="icon iconfont icon-tiaozhuan"></span><span>降AIGC后的检测报告</span></a>
            {{ if hasReduceAIWord }}
            <a href="/report/download/rewrite-aigc-word/{{pid}}" target="_blank" data-type="降AIGC后word" class="reduce-word"><span class="icon iconfont icon-download2"></span>下载降AIGC后的Word</a>
            {{ /if }}
        </div>
    </div>
</script>

<script type="text/html" id="reduce-content">
    <div class="tab-header">
        <ul class="tab-pills">
            <li class="{{ ReduceTab != '查看全篇内容' ? 'active' : '' }}">降AIGC片段汇总</li>
            <li class="{{ ReduceTab == '查看全篇内容' ? 'active' : '' }}">查看全篇内容</li>
        </ul>
        <div class="checked-list" style="display: {{ ReduceTab == '查看全篇内容' ? 'none' : 'flex'}}">
            <div class="item">
                <input type="checkbox" name="degree" id="diff" {{ ReduceDiffShow ? 'checked' : '' }}>
                <label for="diff">显示降AIGC前后对比</label>
            </div>
        </div>
    </div>
    <div class="tab-content {{ ReduceTab != '查看全篇内容' ? '' : 'none' }}">
        <div class="header">
            <div class="pagination"></div>
            <div class="checked-desc-tip">
                <div class="diff {{ ReduceDiffShow && ReduceTab != '查看全篇内容' ? '' : 'none' }}"><span class="g-font-color red">红色</span>代表删除，<span class="g-font-color green">绿色</span>代表替换</div>
            </div>
        </div>
        <div class="reduce-repeat-table">
            <div class="loading">正在加载列表，请稍等...</div>
        </div>
        <div class="pagination MT30"></div>
    </div>
    <div class="tab-content view-whole-content {{ ReduceTab == '查看全篇内容' ? '' : 'none' }}"></div>
</script>

<script type="text/html" id="reduce-repeat-list">
    {{ if data.length > 0 }}
    {{ each data list index }}
    <div class="reduce-repeat-row">
        <div class="sentence-number">{{ index + 1 }}</div>
        <div class="reduce-repeat-column before">
            <div class="similarity">
                <div>原片段</div>
                <div class="score {{ $imports.scoreColor(list.originalFragmentInfo.score) }}"><span>{{ list.originalFragmentInfo.score }}</span>%</div>
                <div class="btn btn-copy">一键复制</div>
            </div>
            <div class="content">{{@ list.originalFragmentInfo.content }}</div>
        </div>
        <div class="reduce-repeat-column after">
            <div class="similarity">
                <div>降AIGC后</div>
                {{ if hasReduceAI }}
                <div class="score {{ $imports.scoreColor(list.reduceAiResultList[0].score) }}"><span>{{ list.reduceAiResultList[0].score }}</span>%</div>
                <div class="btn btn-copy">一键复制</div>
                {{ /if }}
            </div>
            {{ if hasReduceAI }}
            <div class="content">{{@ list.reduceAiResultList.content }}</div>
            <div class="item-comparison" style="display: {{ ReduceDiffShow ? 'grid' : 'none' }};">
                <div class="comparison-content">{{@ list.differResult}}</div>
            </div>
            {{ else }}
            <div class="reduce-result-tips">
                <div>此报告没有购买降AIGC服务，无法查看此片段降AIGC后的内容</div>
                <a href="{{ reduceAiPayUrl }}" target="_blank" class="btn btn-experience">升级智能降AIGC</a>
            </div>
            {{ /if }}
        </div>
    </div>
    {{ /each }}
    {{ else }}
    <div class="null">此报告没有降AIGC片段哦～</div>
    {{ /if }}
</script>

<script type="text/html" id="full-content">
    <div class="message">
        <div>以下内容是<b>降AIGC</b>修改后的内容，正文中<span class="green">绿色</span>文字表示机器修改过。</div>
        <div class="right">
            {{ if hasReduceAI }}
            <div class="reduce-word">
                <b>降AIGC后的总体疑似度：</b>
                <span class="g-font-color percentage green">{{ reduceTotalSuspectedTextRatio }}%</span>
                {{ if hasReduceAIWord }}
                <a href="/report/download/rewrite-aigc-word/{{pid}}" target="_blank" data-type="降AIGC后word">
                    <span class="icon iconfont icon-download2"></span>下载降AIGC后的Word
                </a>
                {{ /if }}
            </div>
            {{ /if }}
            <div class="btn btn-copy">复制全篇内容</div>
        </div>
    </div>
    {{ if hasReduceAI }}
    <div class="content">{{@ content}}</div>
    {{ else }}
    <div class="content">此报告没有购买降AIGC服务，无法查看降AIGC后的全篇内容，请购买智能降AIGC服务。</div>
    {{ /if }}
</script>

<script type="text/html" id="pagination">
    <span class="prev {{ page == 1 ? 'disabled' : '' }}">&lt;</span>
    {{ each totalPages value key }}
    <span class="{{ value == page ? 'active' : '' }}">{{value == page ? `第${value}页` : value}}</span>
    {{ /each }}
    <span class="next {{ page == totalPages.length ? 'disabled' : '' }}">&gt;</span>
</script>

<span style="display: none;">This__is__the__place__to__load__the__download__file__code.__The__offline__version__is__hidden,__but__the__online__version__will__have__it.</span>

<script src="js/jquery.min.js"></script>
<script src="js/lib.js"></script>
<script src="js/templateweb.js"></script>
<script src="js/reduceaigcpagedata.js"></script>
<script src="js/util.js"></script>
<script>
    var rewriteAI = getParamValue(location.search, "type");
    if (rewriteAI == 'reduce_ai') {
        document.write(`<script src="js/detaildata_reduce_ai.js"><\/script>`);
    } else {
        document.write(`<script src="js/detaildata.js"><\/script>`);
    }
</script>
<script src="js/reduce.js"></script>
</body>
</html>