<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI识别报告－片段详情</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/iconfont.css">
    <link rel="stylesheet" href="css/style.css">
    <!--This__is__the__place__to__load__the__zhuge__tracker__code.__The__offline__version__is__hidden,__but__the__online__version__will__have__it.-->
</head>
<body>
<div class="fragment-illustrate"></div>
<script id="paper-section" type="text/html">
    <div class="paper-txt paper-section">
        <h4>片段的不同颜色表示不同的疑似度范围</h4>
        <ul class="notice-list-group">
            <li>
                <span class="notice-diamond red"></span>
                <span class="g-font-color red">红色</span>
                AIGC生成疑似度在70%以上（高度疑似）
            </li>
            <li>
                <span class="notice-diamond orange"></span>
                <span class="g-font-color orange">橙色</span>
                AIGC生成疑似度在60%~70%（中度疑似）
            </li>
            <li>
                <span class="notice-diamond purple"></span>
                <span class="g-font-color purple">紫色</span>
                AIGC生成疑似度在50%~60%（轻度疑似）
            </li>
            <li>
                <span class="notice-diamond black"></span>
                <span class="g-font-color black">黑色</span>
                AIGC生成疑似度在50%以下
            </li>
            <li>
                <span class="notice-diamond grey"></span>
                <span class="g-font-color grey">灰色</span>
                {{ if checkType == "free" }}
                过短片段、标题和英文等不予检测的文字
                {{ else }}
                过短片段、标题等不予检测的文字
                {{ /if }}
            </li>
        </ul>
        <p>如果要查看片段详细识别结果，请点击有颜色标识的部分。</p>
        <div class="laws-wrap">
            <div>AIGC检测可有效识别文本是否部分或全部由AI模型生成，检测结果与论文质量无关、仅表示论文中内容片段存在AI生成可能性的概率。</div>
            <div>
                {{ if reportSource == 'paperpass' }}
                根据《中华人民共和国学位法（草案）》第六章第三十三条之规定，已经获得学位者，在获得该学位过程中如有<strong class="g-font-color red">人工智能代写</strong>等学术不端行为，经学位评定委员会审议决定，可由学位授予单位<strong class="g-font-color red">撤销</strong>学位证书。
                {{ else }}
                根据《中华人民共和国学位法》第六章 第三十七条之规定，学位申请人、学位获得者在攻读该学位过程中有下列情形之一的，经学位评定委员会决议，学位授予单位不授予学位或者撤销学位：<br>
                （一）学位论文或者实践成果被认定为存在代写、剽窃、伪造等学术不端行为；<br>
                （二）盗用、冒用他人身份，顶替他人取得的入学资格，或者以其他非法手段取得入学资格、毕业证书；<br>
                （三）攻读期间存在依法不应当授予学位的其他严重违法行为。<br>
                {{ /if }}
            </div>
            {{ if reportSource == 'paperpass' }}
            <div>AIGC检测系统可以检测哪些类别的文章？<br>
                PaperPass自研的AIGC学术文本检测工具是专注于对学术论文/期刊领域的专业检测系统，其检测的文本支持范围为：期刊论文、毕业设计、学位论文、职称评审、文献综述科研成果、会议论文，课程作业。对于其他类型的文本包括但不限于文学小说，诗词歌赋，新闻报告，高中小学作文等类型的文本该检测系统并不保证其检测的准确性和误判率。请勿上传非学术论文/期刊领域的文本。
            </div>
            {{ /if }}
        </div>
    </div>
</script>

<div class="fragment-detail none"></div>

<script id="similar-template" type="text/html">
    <span id="gototop"></span>
    <div class="nav-sticky">
        <div class="tool">
            <div class="prev-next">
                <a href="{{baseUrl}}#pre_next_{{preCheckNum}}" target="left" class="btn prev" disabled="{{ preCheckNum == '' }}" data-id="{{ preCheckNum }}">
                    <span class="icon iconfont icon-prev"></span>
                    上一片段
                </a>
                <a href="{{baseUrl}}#pre_next_{{nextCheckNum}}" target="left" class="btn next" disabled="{{ nextCheckNum == '' }}" data-id="{{ nextCheckNum }}">
                    下一片段
                    <span class="icon iconfont icon-next"></span>
                </a>
            </div>
            <div class="close-template"><span class="icon iconfont icon-close"></span></div>
        </div>
        <div class="header">
            <h4>该片段AIGC疑似度综合值：</h4>

            {{ if reportSource == 'paperpass' && ( hasReduceAI || reduceAiOn ) && !isReduceAIReport && !(['published','safeguard'].includes(checkType) || isOrg || isPPEdu) }}
            <div class="g-btn g-btn-default g-btn-sm btn-reduce-repeat hot_reduce">智能降AIGC</div>
            {{ /if }}
        </div>
        <div class="suspect">
            <div class="title">综合疑似度</div>
            <div class="progress">
                <div class="progress-bar {{ $imports.scoreColor(overall) }}" style="width: {{ overall }}%;"></div>
            </div>
            <div class="g-font-color percentage {{ $imports.scoreColor(overall) }}">{{ overall }}%</div>
        </div>
        <div class="label {{ $imports.scoreColor(overall) }}">
            {{ if overall >= 70 }}
            <span class="btn">高度疑似AIGC</span><span class="txt">该片段很有可能是由AIGC生成。</span>
            {{ else if overall >= 60 }}
            <span class="btn">中度疑似AIGC</span><span class="txt">该片段AIGC生成概率比较高，有可能是AIGC和人类共同完成。</span>
            {{ else if overall >= 50 }}
            <span class="btn">轻度疑似AIGC</span><span class="txt">该片段有AIGC生成痕迹，有可能通过AIGC改写或AIGC生成。</span>
            {{ /if }}
        </div>
    </div>
    {{ if checkType == 'free' }}
    <div class="paper-txt fragment-content">
        <h4>片段内容：</h4>
        <div class="g-font-color content {{ $imports.scoreColor(overall) }}">{{@ text }}</div>
    </div>
    <div class="g-line-row"></div>
    {{ /if }}
    <div class="paper-txt sequence-diagram">
        <div class="header {{checkType == 'free' ? 'free' : ''}}">
            <h4>AIGC痕迹强度序列图<span class="{{checkType == 'free' ? '' : 'none'}}">（免费版不展示此项）</span>：</h4>
            <div class="flex">
                    <span class="distribution">
                        <span class="distribution-map red"></span>
                        <span>≥70%</span>
                    </span>
                <span class="distribution">
                        <span class="distribution-map orange"></span>
                        <span>60%-70%</span>
                    </span>
                <span class="distribution">
                        <span class="distribution-map purple"></span>
                        <span>50%-60%</span>
                    </span>
                <span class="distribution">
                        <span class="distribution-map green"></span>
                        <span>&lt;50%</span>
                    </span>
            </div>
        </div>
        {{ if checkType == 'free' }}
        <div class="free-container">
            <div>如需此功能请选择旗舰版！</div>
            <button class="g-btn g-btn-default g-btn-sm" data-modal="sequence">查看示例</button>
        </div>
        {{ else }}
        <div class="fragment-substr">
            {{ each contentAndProbList value key }}<span class="{{ value.score >= 70 ? 'red' : value.score >= 60 ? 'orange' : value.score >= 50 ? 'purple' : 'green' }}">{{@ value.content }}</span>{{ /each }}
        </div>
        {{ /if }}
    </div>
    <div class="g-line-row"></div>
    <div class="paper-txt">
        <h4>多判别器概率分布图<span class="{{checkType == 'free' ? '' : 'none'}}">（免费版不展示此项）</span>：</h4>
        {{ if checkType == 'free' }}
        <div class="free-container">
            <div>如需此功能请选择旗舰版！</div>
            <button class="g-btn g-btn-default g-btn-sm" data-modal="radar">查看示例</button>
        </div>
        {{ /if }}
    </div>

    {{ if checkType != 'free' }}
    <div id="radarChart"></div>
    <div class="paper-txt">
        <p class="g-font-color grey text-center FZ12">该图表示多种分类器的概率分布结果，最终结果会结合分类器的误差权重。</p>
    </div>
    {{ /if }}

    <div class="g-line-row"></div>
    <div class="paper-txt stats-data">
        <h4>Stats统计数据<span class="{{checkType == 'free' ? '' : 'none'}}">（免费版不展示此项）</span>：</h4>
        {{ if checkType == 'free' }}
        <div class="free-container">
            <div>如需此功能请选择旗舰版！</div>
            <button class="g-btn g-btn-default g-btn-sm" data-modal="stats">查看示例</button>
        </div>
        {{ else }}
        <div>APS平均困惑度得分(Average Perplexity Score)：<b class="g-font-color red">{{ ppl }}</b></div>
        <div class="gray">文本的困惑度是对文本随机性的衡量</div>
        <div>突发度得分(Burstiness Score)：<b class="g-font-color red">{{ burstiness }}</b></div>
        <div class="gray">文本的突发性是对困惑度变化的衡量</div>
        <div class="tip">文本的困惑度越高表示文本由AIGC生成的概率越大</div>
        {{ /if }}
    </div>
    {{ if checkType == 'free' }}
    <div class="modal" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close">&times;</button>
            </div>
            <div class="modal-body"><img></div>
        </div>
    </div>
    {{ /if }}
    {{ if reportSource == 'paperpass' && (hasReduceAI || reduceAiOn) && !isReduceAIReport && !(['published','safeguard'].includes(checkType) || isOrg || isPPEdu) }}
    <div class="reduce-repeat-layer aigc">
        <div class="flex-between">
            <div class="go-back"><span class="icon iconfont icon-fanhui"></span>返回</div>
            <div class="prev-next">
                <a href="{{baseUrl}}#pre_next_{{preCheckNum}}" target="left" class="btn prev" disabled="{{ preCheckNum == '' }}" data-id="{{ preCheckNum }}">
                    <span class="icon iconfont icon-prev"></span>
                </a>
                <a href="{{baseUrl}}#pre_next_{{nextCheckNum}}" target="left" class="btn next" disabled="{{ nextCheckNum == '' }}" data-id="{{ nextCheckNum }}">
                    <span class="icon iconfont icon-next"></span>
                </a>
            </div>
            <div class="g-btn g-btn-default g-btn-sm transparent btn-reduce-jump">查看降AIGC片段汇总</div>
        </div>
        <div class="reduce-repeat-result">
            <div class="reduce-repeat-item before">
                <div class="title">
                    <div class="flex">
                        <h4>降AIGC前的片段：</h4>
                        <div class="g-font-color score {{ $imports.scoreColor(overall) }}">{{ overall }}%</div>
                    </div>
                    <div class="g-btn g-btn-default g-btn-sm transparent btn-copy">一键复制</div>
                </div>
                <div class="content">{{@ originalContent }}</div>
            </div>
            <div class="reduce-repeat-item after">
                <div class="title">
                    <div class="flex">
                        <h4>降AIGC后的片段：</h4>
                        {{ if hasReduceAI }}
                        <div class="g-font-color score {{ $imports.scoreColor(reduceAiScore) || 'green' }}">{{ reduceAiScore }}%</div>
                        {{ /if }}
                    </div>
                    {{ if hasReduceAI }}
                    <div class="right">
                        {{ if hasReduceAIWord }}
                        <a href="/report/download/rewrite-aigc-word/{{pid}}" target="_blank" data-type="降AIGC后word">下载降AIGC后的Word</a>
                        {{ /if }}
                        <div class="g-btn g-btn-default g-btn-sm transparent btn-copy">一键复制</div>
                    </div>
                    {{ /if }}
                </div>
                {{ if hasReduceAI }}
                <div class="tab-content">
                    <div class="content">{{@ reduceAiContent }}</div>
                    <div class="reduce-repeat-item item-comparison">
                        <div class="title">
                            <h4>降AIGC前后对比：</h4>
                            <div class="FZ12">注：<span class="red">红色</span>代表删除，<span class="green">绿色</span>代表替换</div>
                        </div>
                        <div class="comparison-content">{{@ differResult }}</div>
                    </div>
                </div>
                {{ else }}
                <div class="reduce-result-tips">
                    <div>此报告没有购买降AIGC服务，无法查看此片段降AIGC后的内容</div>
                    <a href="{{ reduceAiPayUrl }}" target="_blank" class="btn btn-experience MT15">升级智能降AIGC</a>
                </div>
                {{ /if }}
            </div>
            {{ if !hasReduceAI }}
            <div class="reduce-aigc-qa">
                <h4>什么是降AIGC？</h4>
                <div>基于语言模型与强化学习，结合原始语义进行反馈学习，在保持语义一致的约束下，自动改写AIGC疑似度高的片段。</div>
            </div>
            {{ /if }}
        </div>
    </div>
    {{ /if }}
    <div class="back-to-top">
        <a href="#gototop" class="g-font-color green"><span class="icon iconfont icon-backtop"></span>回到顶部</a>
    </div>
</script>

<div class="paper-footer" style="margin-top: 0;"></div>
<script type="text/html" id="paper-footer">
    {{ if reportSource == 'paperpass'}}
    <a href="https://www.paperpass.com/" target="_blank" class="logo_right"></a>
    <p>检测报告由<a href="https://www.paperpass.com/" target="_blank">PaperPass</a>文献相似度检测系统生成</p>
    <p>Copyright © 2007-<span class="getFullYear"></span> PaperPass</p>
    {{ else }}
    <a href="https://www.jianziyuan.com/" target="_blank" class="logo_right jzy"></a>
    <p>检测报告由<a href="https://www.jianziyuan.com/" target="_blank" class="jzy">鉴字源</a>AIGC检测系统生成</p>
    <p>Copyright © <span class="getFullYear"></span> 鉴字源</p>
    {{ /if }}
</script>

<span style="display: none;">This__is__the__place__to__load__the__download__file__code.__The__offline__version__is__hidden,__but__the__online__version__will__have__it.</span>
</body>
<script src="js/jquery.min.js"></script>
<script src="js/templateweb.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/lib.js"></script>
<script src="js/util.js"></script>
<script>
    var reportType = getParamValue(location.search, "type");
    if (reportType ==  'reduce_ai') {
        document.write(`<script src="js/detaildata_reduce_ai.js"><\/script><script src="js/simplesentenceresult_reduce_ai.js"><\/script>`);
    } else {
        document.write(`<script src="js/detaildata.js"><\/script><script src="js/simplesentenceresult_ai.js"><\/script>`);
    }
</script>
<script type="text/javascript">
    const reportSource = typeof report_source == "string" ? report_source : 'paperpass';
    const checkType = typeof check_type == "string" && check_type;
    const hasReduceAI = typeof reduce_ai == "boolean" ? reduce_ai : false;
    const reduceAiOn = typeof reduce_ai_on == "boolean" ? reduce_ai_on : false;
    const isOnlineView = typeof is_online_view == "boolean" && is_online_view;
    const hasReduceAIWord = typeof has_reduce_ai_word == "boolean" && isOnlineView ? has_reduce_ai_word : false;
    const isOrg = typeof is_org == "boolean" ? is_org : false;
    const isPPEdu = typeof is_pp_edu == "boolean" ? is_pp_edu : false;

    const isHasDoubleRowWord = typeof is_has_double_row_word == "boolean" ? is_has_double_row_word : false;
    const isHasDoubleRowText = typeof is_has_double_row_text == "boolean" ? is_has_double_row_text : false;

    let header = template('paper-section', { checkType, reportSource });
    $(".fragment-illustrate").html(header);
    if (reportSource == 'paperpass' && !isOrg && ['free', 'ultimate'].includes(checkType)) {
        AddXiaoMoAdImg();
    }

    (function(System,$) {
        if (reportType ==  'reduce_ai') {
            ReportID = ReportID + `_reduce_ai`;
        }
        if (reportType == 'AI' || reportType == 'both') {
            ReportID = ReportID + `_ai`;
        }
        System.operateState.saveId(ReportID);

        if (reportType == 'both') {
            ReportID = ReportID.split("_")[0] + `_both`;
            System.operateState.saveId(ReportID);
        }

        let initPage = System.operateState.getInitPageAI(ReportID);
        let isHasWord = typeof ai_is_has_word  == "boolean" ? ai_is_has_word : false;
        isHasWord = reportType == 'both' ? isHasDoubleRowWord : isHasWord;

        window.addEventListener("message", function (event) {
            if (event.data.sentenceId || event.data.sentenceId == 0) {
                let sentenceId = event.data.sentenceId;
                randersuspectDetail(sentenceId);
            }
            if (event.data == "word_right" || event.data == "text_right") {
                location.reload();
            }
            if (event.data == "closeModal") {
                $(".close-template").click();
            }
        }, false);

        function randersuspectDetail(sentenceId) {
            let resData = JSON.parse(JSON.stringify(data[sentenceId]));
            resData.pid = ReportID.split('_')[0];
            resData.checkType = checkType;
            resData.reportSource = reportSource;
            resData.hasReduceAI = hasReduceAI;
            resData.isReduceAIReport = reportType == 'reduce_ai';
            resData.reduceAiOn = reduceAiOn;
            resData.hasReduceAIWord = hasReduceAIWord;
            if (reportSource == 'paperpass') {
                resData.reduceAiPayUrl = reduceAiPayUrl;
                resData.isOrg = isOrg;
                resData.isPPEdu = isPPEdu;
            }
            if (isHasWord && initPage == "" || initPage == "switch_word") {
                resData.baseUrl = reportType == 'AI' ? `standard_report_ai.html?type=AI` : reportType == 'reduce_ai' ? `standard_report_reduce_ai.html` : reportType == 'both' ? `standard_report_ai.html?type=both` : `standard_report_ai.html`;
            } else {
                resData.baseUrl = ['AI', 'reduce_ai', 'both'].includes(reportType) ? `text_report_ai.html?type=${reportType}` : `text_report_ai.html`;
            }
            resData.originalContent = '';
            resData.text = '';
            resData.sectionContentList.forEach((item) => {
                item = filterCharacter(item);
                resData.originalContent = `${resData.originalContent}<p>${item}</p>\r\n`;
                resData.text = `${resData.text}${item}`;
            });
            if (typeof resData.reduceAiResultList != "undefined" && resData.reduceAiResultList.length > 0) {
                resData.reduceAiScore = resData.reduceAiResultList[0].score;
                resData.reduceAiContent = '';
                resData.reduceAiResultList[0].sectionContentList.forEach((item) => {
                    item = filterCharacter(item);
                    resData.reduceAiContent = `${resData.reduceAiContent}<p>${item}</p>\r\n`;
                });
                resData.differResult = differResultHtml(resData.reduceAiResultList[0].differResultDataList);
            }
            let radarIndicator = [];
            let radarValue = [];
            if (checkType != 'free') {
                for (let key in resData.detail) {
                    radarIndicator.push({ name: `{label|${key}}\n{value|${resData.detail[key]}%}`, min: 0, max: 100 });
                    radarValue.push(resData.detail[key]);
                }
                let arr = [];
                resData.contentAndProbList.forEach(obj => {
                    for (let key in obj) {
                        arr.push({ content: filterCharacter(key), score: Math.round(obj[key] * 10000) / 100 })
                    }
                });
                resData.contentAndProbList = arr;
            }
            var tel = template('similar-template', resData);
            $(".fragment-illustrate").hide();
            $(".logo_right").hide();
            $(".fragment-detail").html(tel).show();
            if (reportType == 'both') { $(".prev-next a").attr("target", "right") }

            if (checkType != 'free') {
                let radarOption = {
                    color: '#86cf80',
                    radar: {
                        indicator: radarIndicator,
                        nameGap: 10,
                        axisName: {
                            color: '#343434',
                            rich: {
                                value: {
                                    align: 'center',
                                    fontSize: 10,
                                    color: '#666',
                                    padding: [5, 0, 0, 0]
                                },
                            }
                        },
                        splitArea: {
                            areaStyle: { color: ['#f2f3f5', '#ffffff'] }
                        },
                        axisLine: {
                            lineStyle: { color: '#eaebee' }
                        }
                    },
                    series: [
                        {
                            type: 'radar',
                            lineStyle: { width: 2 },
                            symbolSize: 5,
                            areaStyle: {
                                color: new echarts.graphic.RadialGradient(0.1, 0.6, 1, [{ color: 'rgba(134, 207, 128, 0.24)', offset: 1 }])
                            },
                            data: [{ value: radarValue, name: '' }]
                        }
                    ]
                }
                let radarChart = echarts.init(document.getElementById("radarChart"));
                radarChart.setOption(radarOption);
                $("body").scrollTop(0);
                $(window).resize(function () {
                    let w = document.documentElement.clientWidth;
                    if (w < 340) return;
                    radarChart.resize();
                });
            }
            $(window).resize();
        }

        $(document).on("click", ".prev-next .btn", function() {
            let sentenceId = this.dataset.id;
            randersuspectDetail(sentenceId);
            if ($(this).parents().hasClass("reduce-repeat-layer")) {
                $(".reduce-repeat-layer").css("transition", "none").css("right", '0');
                $(".reduce-repeat-layer .reduce-repeat-result").show();
            }
            parent.postMessage({ "prevNextId": sentenceId }, "*");
        })

        $(document).on("click", ".free-container button", function() {
            let type = $(this).data("modal");
            $(".modal").show().find(".modal-body img").attr("src", `https://pps-1254460674.cos.ap-beijing.myqcloud.com/images/${type}.png`);
        })

        $(document).on("click", ".modal .close, .modal .btn-cancel", function() {
            $(".modal").hide();
        })

        $(document).delegate(".close-template","click",function() {
            $(".fragment-illustrate").show();
            $(".logo_right").show();
            $(".fragment-detail").hide();
            parent.postMessage({ closeModal: 'closeAigc' }, "*");
        });

        $(document).on("click", function() {
            parent.parent.postMessage("documentClickEvent", "*");
        });

        let footer = template('paper-footer', { 'reportSource': reportSource });
        $(".paper-footer").html(footer);
        $(".paper-footer .getFullYear").html(new Date().getFullYear());

        $(document).on('click', '.btn-reduce-repeat', function() {
            $(".reduce-repeat-layer").css("transition", "all 0.5s").css("right", "0");
            $(".reduce-repeat-layer .reduce-repeat-result").show();
            zhugeTrack(this, `片段详情-智能降AIGC`);
        });

        $(document).on('click', '.btn-reduce-jump', function() {
            parent.postMessage("clickReduceAiNavBtn", "*");
            parent.parent.postMessage("clickReduceAiNavBtn", "*");
            parent.postMessage({ closeModal: 'closeAigc' }, "*");
        })

        $(document).on("click", ".btn-copy", function() {
            if ($(this).parents().hasClass("sequence-diagram")) {
                let value = $(".fragment-substr").text();
                copyValue(value);
            } else {
                let value = $(this).parents(".reduce-repeat-item").find(".content").text();
                copyValue(value);
            }
        });

        var zhugeTrack = (_this, _describe) => {
            let zhugeClick = $(_this).data("zhuge");
            if (typeof zhugeClick == 'undefined') {
                $(_this).data("zhuge","isClicked");
                if (typeof zhuge != 'undefined') {
                    zhuge.track('在线报告点击', { '检测版本': check_type, '降重版本': consume_type, '按钮': _describe });
                }
            }
        }

        $(document).on('click', '.reduce-repeat-layer .go-back', function () {
            $(".reduce-repeat-layer").css("transition", "all 0.5s").css("right", "-100%");
        });
    })(Report,jQuery);

    function differResultHtml(data) {
        let html = '';
        $.each(data, function (i, diff) {
            if (diff.added) {
                html += `<span class="add">${diff.value.replace(/[\r\n]+/g, '<br/>')}</span>`;
            } else if (diff.removed) {
                html += `<span class="remove">${diff.value.replace(/[\r\n]+/g, '<br/>')}</span>`;
            } else {
                html += `<span>${diff.value.replace(/[\r\n]+/g, '<br/>')}</span>`;
            }
        })
        return html;
    }

    function scoreColor(score) {
        if (score >= 70) {
            return "red"
        } else if (score >= 60) {
            return "orange"
        } else if (score >= 50) {
            return "purple"
        }
    }

    $(window).resize(function () {
        let label = $(".fragment-detail .label");
        label.height() > 28 ? label.css("padding-left", "8px") : label.css("padding-left", '0');
    });
</script>
</html>